* {
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(135deg, #1c1c1c, #2c2c2c); */
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./gettyimages-172163211-2048x2048.jpg);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center

}

.converter-box {
  background: #153f0a;
  padding: 30px;
  border-radius: 12px;
  width: 80%;
  max-width: 700px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.info, .timestamp {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 5px;
}

h1 {
  margin: 10px 0;
  font-size: 36px;
  color: #fff;
  word-break: break-word;
}

.input-area {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 15px 0;
}

input, select {
  flex: 1;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

input:focus, select:focus {
  outline: 2px solid #007bff;
}

@media screen and (max-width: 480px) {
  .converter-box {
    padding: 20px;
  }

  h1 {
    font-size: 28px;
  }

  input, select {
    font-size: 14px;
    padding: 8px;
  }
